@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap");

:root {
  --primary: #002145;
  --secondary: #6d15df;
}
h1,
h2,
h3 {
  margin: 0;
}

.web-name {
  font-family: "ARIAL";
}

body {
  margin: 0;
  color: #333;
  font-family: "Poppins";
  background: #f2f2f2;
}
nav {
  background: var(--primary);
  padding: 10px 20px;
  /* text-align: center; */
}
nav a {
  color: #f2f2f2;
  /* margin: 10px; */
  display: inline;
}
nav h1 {
  color: #fff;
}
.page {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
}

a:-webkit-any-link {
  text-decoration: none;
}

/* post grid */

.post-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}

.post-card {
  width: 100%;
  padding: 10px;
  background: #bcdff7;
  box-sizing: border-box;
  border-radius: 6px;
  position: relative;
  border: 2px solid #057ba4;
}

.post-card .course-name {
  position: absolute;
  top: -10px;
  right: -10px;
  /* background: var(--secondary); */
  background: var(--primary);
  color: #fff;
  border-radius: 6px;
  width: 80px;
  height: 0;
  padding: 20px 0;
  line-height: 0px;
  text-align: center;
}

/* forms  - David */
form {
  background: #ffffff;
  padding: 20px;
  max-width: 480px;
  margin: 0 auto;
  border-radius: 6px;
  font-weight: bold;
}
form textarea {
  display: block;
  width: 100%;
  padding: 1px;
  box-sizing: border-box;
  height: 100px;
  border: 1px solid #ccc;
  margin: 10px 0 20px 0;
  resize: none;
  font-family: "Arial", sans-serif;
  font-size: 16px;
}

form input {
  display: block;
  width: 100%;
  padding: 6px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  margin: 10px 0 20px 0;
  font-family: "Arial", sans-serif;
  font-size: 16px;
}

form button {
  background: var(--primary);
  color: #fff;
  border: 0;
  border-radius: 6px;
  padding: 6px 8px;
  font-family: "Poppins";
  cursor: pointer;
}
.post-card .buttons {
  /* text-align: right; */
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.post-card i {
  color: #bbb;
  margin-left: 10px;
  font-size: 1.2em;
  padding: 6px;
  background: #eee;
  border-radius: 50%;
  cursor: pointer;
}

.order-by button {
  margin-right: 10px;
  background: var(--primary);
  color: #fff;
  border: 0;
  padding: 4px 8px;
  border-radius: 6px;
  font-family: "Poppins";
  cursor: pointer;
  transition: background-color 0.3s;
}

.order-by button:hover {
  background: #057ba4;
}

input[type="text"] {
  width: 180px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  /* background-image: url("searchicon.png"); */
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 5px 5px 5px 5px;
  transition: width 0.4s ease-in-out;
}

input[type="text"]:focus {
  width: 100%;
}

.post-title {
  text-align: center;
  font-size: 20px;
}

/* for creat post button */
.post-button-container {
  text-align: right;
}

.button-style {
  padding: 10px 15px;
  background-color: #28a745; /* Original background color */
  color: white; /* Text color */
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  position: relative;
  /* Moves the button 10px to the right */
  /* right: 125px; 
  top: -10px; */
  transition: background-color 0.3s; /* Smooth transition for the background color */
}

.createButtonSml {
  display: none;
}

/* .logout-btn-style {
  padding: 10px 15px; */
/* background-color: #28a745;  */
/* Original background color */
/* color: white; */
/* Text color */
/* text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  position: relative; */
/* Moves the button 10px to the right */
/* right: 125px; 
  top: -10px; */
/* transition: background-color 0.3s; */
/* Smooth transition for the background color */
/* } */

.logout-btn-style:hover {
  background-color: #218838;
  cursor: pointer;
}

.button-style:hover {
  background-color: #218838; /* New background color when hovered */
}

/* create button */
.create-button {
  transition: background-color 0.3s;
}

.create-button:hover {
  background: #057ba4;
}

.usersignin {
  margin-top: 20px;
}

.buttonContainer {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.topNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoContainer {
  display: flex;
  align-items: center;
  margin-left: 50px;
}

.logo {
  width: 80px;

  flex-grow: 0;
  flex-shrink: 0;
}

.logo-text {
  width: 250px;
  flex-grow: 0;
  flex-shrink: 0;
}

.hamburger {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  box-shadow: none;
  display: inline-block;
  margin: 10px;
}

.hamburgerMenuOverlay {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;

  display: flex;
  flex-direction: row-reverse;
}

.hamburgerMenu {
  width: 15vw;
  background-color: #002145;

  padding-top: 80px;
  padding-left: 30px;

  position: relative;
  color: white;
}

.closeHMenuButton {
  color: black;
  cursor: pointer;
  position: absolute;
  top: 40px;
  right: 80px;
}

.dashboardLink {
  margin: 0;
  text-decoration: none;
}

.logoutButton:hover {
  cursor: pointer;
}

@media (max-width: 768px) {
  .topNav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .logoContainer {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
  }
  .logo {
    width: 40px;
  }

  .logo-text {
    width: 125px;
  }

  .buttonContainer {
    margin-right: 5px;
    font-size: 12px;
  }

  .button-style {
    display: none;
  }

  .createButtonSml {
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    bottom: 100px;
    left: 60px;

    background-color: #002145;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    z-index: 500;
    box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.6);

    font-size: large;
  }

  .hamburgerMenuOverlay {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .hamburgerMenu {
    width: 80vw;
    height: 60vh;
    border-radius: 10px;
    background-color: #002145;
    position: relative;
    color: white;
    padding-top: 80px;
    padding-left: 30px;
    position: relative;
    font-size: large;
  }

  .closeHMenuButton {
    color: black;
    cursor: pointer;
    position: absolute;
    top: 40px;
  }

  .post-grid {
    grid-template-columns: 1fr; /* One column in smaller screens */
  }
}
